html, body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Saira', sans-serif;
}

.header_nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    align-items: center;
}

header {
    background-color: #83764F;
    text-align: center;
    width: 100%;
}

h1, h2 {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    font-size: 5rem;
    color: #E5F9DB;
    letter-spacing: 1rem;
    text-indent: 1rem;
}

h2 {
    color: #E5F9DB;
    letter-spacing: 2rem;
    font-size: 1.5rem;
    padding-bottom: 20px;
    text-indent: 2rem;
}

h3 {
    text-align: center;
}

hr {
    position: relative;
    width: 40rem;
    height: 2px;
    border: none;
    border-radius: 50%;
    background: repeating-linear-gradient(90deg, #E5F9DB, #E5F9DB 5px, transparent 5px, transparent 10px);
}

nav {
    background-color: #A2A378;
    text-align: center;
    width: 100%;
}

ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0.8rem;
}

a {
    color: #E5F9DB;
    text-decoration: none;
}

a:hover {
    color: #83764F;
}

main {
    flex: 1;
    overflow-y: auto;
    overflow: hidden;
}

section {
    height: 100%;
    overflow: auto;
    background-color: #E5F9DB;
    padding-left: 25%;
    padding-right: 25%;
}

p {
    font-size: 1rem;
}

.hr_main {
    position: relative;
    width: 20rem;
    height: 2px;
    border: none;
    border-radius: 50%;
    background: repeating-linear-gradient(90deg, #83764F, #83764F 5px, transparent 5px, transparent 10px);
}

.profile_picture, .martin_linge {
    float: left;
    height: 200px;
    margin: 20px 30px 20px 0;
    border: 3px #83764F solid;
}

.martin_linge {
    float: right;
    margin: 20px 0 20px 30px;
}

.tommy_skiing {
    width: 100%;
    float: inline-end;
    border: 3px #83764F solid;
}

#section_contact {
    text-align: center;
}

#mail {
    color: black;
    font-size: 15rem;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    background-color: #A0D8B3;
    width: 100%;
    bottom: 0;
    gap: 2rem;
    justify-content: center;
}

.social {
    color: #83764F;
    font-size: 3rem;
}

.social:hover {
    color: #A2A378;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1rem;
    }

    hr {
        width: 25rem;
    }

    section {
        padding-left: 5%;
        padding-right: 5%;
    }


}